*{
	font-family: 'Oswald', sans-serif;

}
body{
	margin:2%;
	padding:1%;
	font-size:100%;
	background-color: #000;
	color: white;
}

.para{
	background-image: url('../images/background.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	min-height: 300px;
} 

.skip, .skip:hover{
	color: #000;
	/* padding: 2px; */
	position: absolute;
	top: -100px;
	color: red;
	overflow: hidden;
}

.skip:active, .skip:focus{
	position: static;
	width: auto;
	height: auto;
}

h1{
	color: #af3131f1;
	font-weight: bold;
	font-size: 2.5em; 
}

h2{
	animation: redtitle 5s ease-in-out;
	animation-direction: reverse;
	color: white;
	font-weight: bold;
	font-size: 1em; 

}

@keyframes redtitle{
	from{
		color: white;
		font-size: xx-large;
		margin-left:100%;
	}
	to{
		color: red;
		font-size: xx-small;
		margin-left:0%;

	} 

}

.active{
	background: white;
	background-image: url('../images/icon.svg');
    text-transform: uppercase;
	font-weight: bolder;
	text-align: start;
	background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
	
}

.icon {
    background-image: url('../images/icon2.jpg');
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    /* display: block; */
}

.active a{
	text-decoration: none;
}


p, h1, h2 {
    padding: 10px;
}


header, nav, main, footer{
	margin: 10px;
}

footer{
	border: solid black;
	color: black;
	background-color: #af3131f1;
}
div{
	padding: 10px;
}

nav li{
	background-color: #af3131f1;
	color: red;
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline-block;
}

nav li a{
	color: black;
}

.navbar{
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
	align-items: center;
	flex-direction: row;
}

main div img{
    width: 300px;
	min-height: 300px;
	object-fit: cover;
    border: 3px solid red;
	filter: grayscale(100%);
}

main div img:hover, main div img:focus{
	border: solid red;
	filter: none;
	transform: scale(1.15);
	z-index: 1;
}

p a{
	color: lightblue
}

.material-icons{
	color: white;
}

p a:focus{
	color:black;
}
p a:visited{
	color:gray}

	.flip-card:hover .flip-card-inner,
	.flip-card:focus .flip-card-inner,
	.flip-card:focus-within .flip-card-inner,
	.flip-card:active .flip-card-inner,
	.flip-card-click:focus .flip-card-inner,
	.flip-card-click:active .flip-card-inner,
	.flip-card-click.flipped .flip-card-inner {
	  transform: rotateY(180deg);
	}

.flip-card {
	background-color: transparent;
	width: 300px;
	height: 300px;
	}
	  
.flip-card-inner {
	position: relative;
	width: 300px;
	height: 300px;
	text-align: center;
	transition: transform 1s;
	transform-style: preserve-3d;
	}

	.flip-card-front, .flip-card-back {
	position: absolute;
	width: 300px;
	height: 300px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	}
	  
.flip-card-front img{
	filter: none;
	border: 3px solid white;
	} 
	  
.flip-card-back, .flip-card-back:focus {
	background-color: white;
	color: Black;
	transform: rotateY(180deg);
	}




.form, .note{
	padding: 0ex;
	margin: 0 0 10px 0;
}


.container{
	display: grid;
	width: 90%;
	grid-template-columns: 1fr;
	gap: 7px;
	justify-content: center;
}

.container p{
max-width: 100%;
align-self: center;
}

#summary{
max-width: 50%;
}

@media screen and (prefers-reduced-motion: reduce){
	h2{
		animation: none;
	}
	.flip-card:hover .flip-card-inner {
		transform: none;
		}
	.para{
		background-attachment: scroll;
	}
}

@media only screen and (min-width: 560px) {
	/* body{
		margin: 20%;

	} */
	
	.container{
		display: grid;
		width: auto;
		grid-template-columns: 1fr 1fr 20%;
		gap: 10px;
		justify-content: left;
	}
	
	.container p{
	max-width: 100%;
	align-self: center;
	}
	
  }

@media only screen and (min-width: 1000px) {
	.container{
		display: grid;
		/* width: 90%; */
		grid-template-columns: 1fr 1fr 10% 1fr 1fr 10%;
		/* grid-template-rows: auto; */
		gap: 15px;
		justify-content: left;
	}
	
	.container p{
	max-width: 100%;
	align-self: center;
	/* grid-column: 1/2; */
	}

  }