/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	padding:1%;
	font-size:150%;
}

.skip, .skip:hover{
	color: #000;
	/* padding: 2px; */
	position: absolute;
	top: -100px;
	color: red;
	overflow: hidden;
}

.skip:active, .skip:focus{
	position: static;
	width: auto;
	height: auto;
}

h1{
	font-size: 2em; 
	font-weight: bold;
}


.active{
	background: white;
    text-transform: uppercase;
	text-align: start;
}

.active a{
	text-decoration: none;;
}


h2{
	font-size: 2em; 
	font-weight: bold;
}

p, h1, h2 {
    padding: 10px;
}


header, nav, main, h1, footer{
	/* border: solid black; */
	margin: 10px;
}

footer{
	border: solid black;
	color: black;
	background-color: #af3131f1;
}
div{
	padding: 10px;
}

nav li{
	background-color: #af3131f1;
	color: red;
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline-block;
	width: 20%;
}

nav li a{
	color: black;
}
img{
    /* height: auto; */
    width: 300px;
	height: 300px;
	object-fit: contain;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

img:hover{
	filter: grayscale();
	border: dashed red;
}

p a:focus{
	color:black;
}
p a:visited{
	color:lightblue}


